<div class="app-now-playing-lyrics">
    <div class="app-now-playing-lyrics__track" [style.width.px]="this.coverArtSize">
        <app-playback-cover-art
            class="app-now-playing-lyrics__picture"
            [size]="coverArtSize"
            [borderRadius]="this.settings.showSquareImages ? 0 : 10"
        ></app-playback-cover-art>
        <div class="mt-3 mx-1">
            <div class="secondary-text d-flex align-items-center" *ngIf="this.lyrics?.sourceType === lyricsSourceTypeEnum.none">
                {{ 'no-lyrics' | translate }}<i class="secondary-text las la-frown ml-1"></i>
            </div>
            <div class="secondary-text d-flex align-items-center" *ngIf="this.lyrics?.sourceType === lyricsSourceTypeEnum.embedded">
                {{ 'embedded-lyrics' | translate }}<i class="secondary-text las la-check ml-1"></i>
            </div>
            <div class="secondary-text d-flex align-items-center" *ngIf="this.lyrics?.sourceType === lyricsSourceTypeEnum.lrc">
                {{ 'lrc-lyrics' | translate }}<i class="secondary-text las la-file-alt ml-1"></i>
            </div>
            <div class="secondary-text d-flex align-items-center" *ngIf="this.lyrics?.sourceType === lyricsSourceTypeEnum.srt">
                {{ 'srt-lyrics' | translate }}<i class="secondary-text las la-file-alt ml-1"></i>
            </div>
            <div class="secondary-text d-flex align-items-center" *ngIf="this.lyrics?.sourceType === lyricsSourceTypeEnum.online">
                {{ this.lyrics?.sourceName }}<i class="secondary-text las la-globe ml-1"></i>
            </div>
            <div class="mt-2">
                <button mat-button class="btn-enter-lyrics font-11px px-2 py-0 border rounded" (click)="openEnterLyricsDialogAsync()" matTooltip="Ingresar o sincronizar letra manualmente">
                    <i class="las la-pen mr-1"></i> {{ 'enter-lyrics' | translate }}
                </button>
            </div>
        </div>
        <app-playback-information
            class="app-now-playing-lyrics__playback-info"
            [height]="120"
            position="top"
            [largeFontSize]="this.largeFontSize"
            [smallFontSize]="this.smallFontSize"
        ></app-playback-information>
    </div>
    <div *ngIf="this.isBusy" class="app-now-playing-lyrics__spinner">
        <mat-spinner [diameter]="40"></mat-spinner>
    </div>
    <div *ngIf="!this.isBusy" class="app-now-playing-lyrics__text">
        <app-rich-lyrics *ngIf="this.hasRichLyrics && this.showRichLyrics" [lyrics]="this.lyrics!"></app-rich-lyrics>
        <app-plain-lyrics
            *ngIf="this.hasLyrics && (!this.hasRichLyrics || !this.showRichLyrics)"
            [lyrics]="this.lyrics"
            [fontSize]="this.settings.richLyricsFontSize"
        ></app-plain-lyrics>
        <div *ngIf="!this.hasLyrics" class="d-flex flex-column align-items-center justify-content-center h-100">
            <div class="mb-3 secondary-text font-15px">{{ 'no-lyrics-found' | translate }}</div>
            <button mat-button class="accent-background font-13px px-3 py-1 text-white rounded" (click)="openEnterLyricsDialogAsync()">
                <i class="las la-plus mr-1"></i> {{ 'add-lyrics-manually' | translate }}
            </button>
        </div>
    </div>
</div>
